@model northwind_app.ViewModels.Overview.OrdersViewModel

<h1>@Html.DisplayName(Model.TitlePage)</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName(Model.TitleDate)</th>
            <th>@Html.DisplayName(Model.TitleAddress)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>@item.OrderDate</td>
            <td>@item.Address</td>
        </tr>
}
    </tbody>
</table>

<a asp-action="CreateOrder">Create order</a> | <a asp-action="Index">Back</a>
